{% extends 'index.html' %}
{% block title %}Login{% endblock %}


{% block content %}

<div class="container" style="margin-left: 35%; margin-top: 10%;">
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
    
            <div class="label"><label for="password">Password</label></div>
            <div class="input-group">
                {{ form.password1 }}
            </div> 
            <div class="label"><label for="password">Password confirm</label></div>
            <div class="input-group">
                {{ form.password2 }}
            </div> <br><br>
            <div class="button">
                <button class="btn btn-info " type="submit">Reset_Password</button>
            </div>
        </form>
    </div>
</div>
<style>
    input[type=text],
    input[type=password]{
        width: 40%;
    }
</style>
{% endblock %}